@font-face {
    font-family: balatro;
    src: url(fonts/balatro.ttf);
}
h1{
    font-size: 75px;
    margin: 5px;
}
body {
  overflow: hidden;
    display: flex;
    font-family: 'balatro','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    justify-content: center;
    /*background-color: #43674f;
    background-blend-mode: multiply, luminosity;*/
    background: #2b4242;
    background-size: cover;
    color: white;
    letter-spacing: 1px;
}
.start-screen{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%;
    background-size: cover; 
    background: hotpink;*/
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#crt-bar{
    position: fixed; 
    width: 0;
    height:0;
    top:50%;
    left: 50%;
    background-color: white;
    z-index: 3;
    animation: crtStartUp ease .4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#overlay {
    position: fixed; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:black;
    background-size: cover;
    background-size: 100% 1px;
    z-index: 2; 
    pointer-events: none;
  }
  #overlay.transparent{
    background-color: #11111100;
    background-image: linear-gradient(to top, #00090100, #00090100, #5757571d, #5757571d);
    background-size: cover;
    background-size: 100% 1px;
  }
#message-el {
    font-style: italic;
}

#flavor-text{
    color:goldenrod;
    animation: breathing 2.5s ease-out infinite normal;
    
}
.flavor-text-wrapper{
    transform: translate(160px, -30px) rotate(-20deg);
}

button {
    font-family: 'balatro','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    color: white;
    font-size: 20px;
    width: 150px;
    height:75px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin:5px;
    box-shadow: 0px 3px 0px rgb(11, 11, 11);
    letter-spacing: 1px;
    transition: .1s;
}

button:hover{  
    opacity: .8;
}
button:active{
    transform: translate(0, 3px);
    box-shadow: none;
}
.button-row{
    border-radius: 10px;
    background-color: #242f32;
    padding:10px;
    box-shadow: 0px 5px 0px rgb(33, 33, 33);
    display: flex;
    flex-direction: row;
}
#play-btn{
    background: #3A85E9;
}
#card-btn{
    background: #58997E
}
#game-board{
  
  color: hotpink;
  display:none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:100%;
  margin: 0;
}
#game-board.display-flex{
  display: flex !important;
}
#opponent-row-wrapper{
  display: flex;
  flex-direction: row;
  width:800px;
  max-width: 800px;
  height: 200px;
  background-color: #242f3293;
  padding: 10px;
  border-radius: 10px;
}
#player-row-wrapper{
  display: flex;
  flex-direction: row;
  width:800px;
  max-width: 800px;
  height: 200px;
  background-color: #242f3293;
  padding: 10px;
  border-radius: 10px;
}
#game-btn-row{
  display: flex;
  flex-direction: row;
}
#hit-btn{
  background: #3A85E9;
}
#stand-btn{
  background: #F54A3F;
}
#info-box{
  margin-left: 10px;
  margin-right: 10PX;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
  width: 100px;
  border: 4px solid rgb(229, 229, 229);
  box-shadow: 0px 3px 0px rgb(11, 11, 11);
}

#move-down.down{
  transition: .75s;
  transform: translate(0, 600px);
  opacity:0;
}
#move-up.up{
  transition: .75s;
  transform: translate(0, -600px);
  opacity:0;
}




@media screen{
    #overlay {
      animation: scanlines infinite 7.5s linear ;
    }
  } 
  @keyframes scanlines {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 -10px;
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    50% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*@keyframes crtStartUp {
  0%{
    opacity: 1;
  }
  25%{
    
  }
  50%{
    
  
  }
  65%{
    height: 4px;
    width:100vw;
  }
  75%{
    
  }
  99%{
    opacity:1;
  }
  100%{
    height: 100%;
    width:100%;
    opacity:0;
    display: none;
  }
}*/